$desktop_small : 1441px !default;
$tablet: 768px !default;
$mobile: 576px !default;


$desktop_small_max : ($desktop_small - 1) !default;
$tablet_max: ($tablet - 1) !default;
$mobile_max: ($mobile - 1) !default;