$anchor_header_background_color: #F2F5F7;
$anchor_header_font_color: #505D68;

$section_title_color: #505D68;
$text-color: #A1AEB7;

$link_color: #424B5A;
$link_hover_color: #310255;
$link_arrow_color: #310255;

$primary_button_background_color: #310255;
$primary_button_border_color: #310255;
$primary_button_font_color: white;

$secondary_button_background_color: white;
$secondary_button_border_color: #310255;
$secondary_button_font_color: #424B5A;