body {
  font-family: Ubuntu, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: $text-color;

  @media screen and (max-width: 1267px) {
    font-size: 14px;
  }
}

.container {
  width: 1141px;

  margin: 0 auto;
}

